__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment & secrets
.env
.env.*
!.env.example

# IDE/editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

.vercel
.env*.local
